@model EntitiyLayer.Concrete.Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div>
    <h4>İletişim Bilgileri</h4>
</div>
@using (Html.BeginForm("ContactSubplaceIndex", "ContactSubplace", FormMethod.Post))
{
    <div class="row">
        <div class="col-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample">
                        @Html.HiddenFor(x=>x.ContectID)
@*                        <div class="form-group">
                            <label>ID</label>
                            @Html.TextBoxFor(x=> x.ContectID, new {@class="form-control"})
                        </div>*@
                        <div class="form-group">
                            <label>Başlık</label>
                            @Html.TextBoxFor(x=> x.Title, new {@class="form-control text-light"})
                            @Html.ValidationMessageFor(x=>x.Title)
                        </div>
                        <div class="form-group">
                            <label>Telefon</label>
                            @Html.TextBoxFor(x=> x.Phone, new {@class="form-control text-light"})
                            @Html.ValidationMessageFor(x=>x.Phone)
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            @Html.TextBoxFor(x=> x.Email, new {@class="form-control text-light"})
                            @Html.ValidationMessageFor(x=>x.Email)
                        </div>
                        <div class="form-group">
                            <label>Açıklama</label>
                            @Html.TextAreaFor(x=> x.Description,6,3, new {@class="form-control text-light"})
                            @Html.ValidationMessageFor(x=>x.Description)
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-sm">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
}
