@using Core_Proje.Areas.Customer.Models
@using EntitiyLayer.Concrete
@using DataAccessLayer.EntityFramework
@using BusinessLayer.Concrete

@model Message

<div class="card">
    <div class="card-header">
        Konu: @Model.Subject
    </div>
    <div class="card-header">
        Gönderen: @Model.SenderFullName
    </div>
    <div class="card-header">
        Gönderen Kullanıcı İsmi: @Model.SenderUserName
    </div>
    <div class="card-header">
        Alıcı: @Model.RecieverFullName
    </div>
    <div class="card-header">
        Alıcı Kullanıcı İsmi: @Model.RecieverUserName
    </div>
    <div class="card-header">
        @(((DateTime)Model.Date).ToString("dd-MMM-yyyy"))
    </div>
    <div class="card-body">
        @Model.MessageContent
    </div>
</div>