@using EntitiyLayer.Concrete
@using DataAccessLayer.EntityFramework
@using BusinessLayer.Concrete
@model List<Project>

@{
    ViewData["Title"] = "ProjectList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";

    ServiceManager serviceManager = new ServiceManager(new EFServicesDal());

}


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Projeler</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Hizmet Tipi</th>
                            <th>İlerleme Durumu</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            var service = serviceManager.TGetById(item.ServiceID);
                            string serviceTitle = service.Title;

                            <tr>
                                <th>@item.ProjectID</th>
                                <td>@item.ProjectName</td>
                                <td>@serviceTitle</td>
                                @if (item.Progress ==0 )
                                {
                                    
                                    <td>Onay Bekliyor</td>
                                }else
                                {
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: @item.Progress%" aria-valuenow="@item.Progress" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                }
                                <td><a href="/Writer/Project/ProjectDetails/@item.ProjectID" class="btn btn-primary btn-sm">Detaylar</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

