@using EntitiyLayer.Concrete

@model Testimonial

@*<div class="card">
    <div class="card-header">
        @Model.ClientName
    </div>
    <div class="card-body">
        @Html.TextAreaFor(x => x.Comment, 8, 3, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
    <button class="btn btn-dark">İptal</button>
    <a href="#" class="btn btn-outline-warning btn-sm" data-dismiss="modal">Detaylar</a>
    <button type="submit" class="btn btn-outline-warning btn-sm" data-bs-dismiss="modal">bok</button>
    <button id='closeModal' type="submit" class="btn btn-danger" data-bs-dismiss="modal">Save&Close</button>
</div>
*@


@using (Html.BeginForm("TestimonialDetailsInModal", "Testimonial", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <form class="forms-sample">
                @Html.HiddenFor(x=>x.TestimonialID)
                @Html.HiddenFor(x=>x.ImageUrl)
                @Html.HiddenFor(x=>x.Comment)
                @Html.HiddenFor(x=>x.ClientName)
                <div class="card-header">
                    @Html.DisplayFor(x => x.ClientName, new { @class = "form-control" })
                    @*@Model.ClientName*@
                </div>
                @*<div class="form-group">
            <label>Başlık</label>
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            </div>*@
                <div class="card-body">
                    @Html.DisplayFor(x => x.Comment, new { @class = "form-control" })
                    @* @Model.Comment*@
                </div>
                <div class="form-group card-body">
                    <label>Onayla</label>
                    @Html.CheckBoxFor(x=>x.IsComfirmed, new {id="IsComfirmed"})
                    <br>
                    <br>
                    <button id='modalClose' type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
}