@model EntitiyLayer.Concrete.Project
@{
    ViewData["Title"] = "EditProject";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("EditProject", "Project", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Yeni Proje Ekleme Paneli </p>
                <form class="forms-sample">
                    @Html.HiddenFor(x=> x.ProjectID)
                    @Html.HiddenFor(x=>x.ServiceID)
                    @Html.HiddenFor(x=>x.ClientUserID)
                    <br />
                    @Html.Label("Proje")
                    @Html.LabelFor(x=>x.ProjectName, new {@class="form-control"})
                    <br />
                    <label>Fiyat</label>
                    @Html.TextBoxFor(x=>x.Price, new {@class="form-control"})
                    <br />
                    <label>Tamamlanma Oranı</label>
                    @Html.TextBoxFor(x=>x.Progress, new {@class="form-control"})
                    <br />
                    <label>Burda görsel ekleme butonu olacak</label>
                    <br />
                    <button class="btn btn-info">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
}
