@model EntitiyLayer.Concrete.Message
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>Mesaj Detayları</h1>
<form class="form-form">
    @Html.Label("ID")
    @Html.HiddenFor(x=>x.MessageID)
    <br />
    @Html.Label("Alıcı Adı")
    @Html.TextBoxFor(x=>x.RecieverUserName, new{@class="form-control"})
    <br />
    @Html.Label("Alıcı Email")
    @Html.TextBoxFor(x=>x.RecieverFullName, new{@class="form-control"})
    <br />
    @Html.Label("Mesaj")
    @Html.TextAreaFor(x=>x.MessageContent, 10, 3, new{@class="form-control"})
</form>


