@using EntitiyLayer.Concrete
@model List<Project>
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<style>
    .table-cell-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>

<div>
    <h4>Protföy</h4>
</div>
<div class="row">
    <div class="col">
        <div class="card bg-default shadow">
            <div class="table-responsive">
                <table class="table table-hover" style="table-layout: fixed;">
                    <thead class="thead-dark">
                        <tr>
                            <th class="d-none d-md-table-cell" style="width: 100px;">#</th>
                            <th style="width: 120px;">Proje</th>
                            <th class="d-none d-md-table-cell">Proje Sahibi</th>
                            <th class="d-none d-md-table-cell">Kullanıcı İsmi</th>
                            <th class="d-none d-md-table-cell">Ücret</th>
                            <th class="d-none d-md-table-cell">Onay Durumu</th>
                            <th class="d-none d-md-table-cell">İlerleme Durumu</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row" class="d-none d-md-table-cell">
                                    <div class="media align-items-center">
                                        @*<a href="#" class="avatar rounded-circle mr-3">
                                    <img alt="Image placeholder" src="@item.Platform">
                                    </a>*@
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">@item.ProjectID</span>
                                        </div>
                                    </div>
                                </th>
                                <td class="budget table-cell-content">@item.ProjectName</td>
                                <td class="budget d-none d-md-table-cell">@item.ClientUser.Name @item.ClientUser.Surname</td>
                                <td class="budget d-none d-md-table-cell"><img src="~/userimage/@item.ClientUser.ImageUrl" alt="image" /> @item.ClientUser.UserName</td>
                                <td class="budget d-none d-md-table-cell">@item.Price</td>

                                @if (item.IsComfirmed == true)
                                {
                                    <td class="budget d-none d-md-table-cell">Onaylandı</td>
                                }
                                else
                                {
                                    <td class="budget d-none d-md-table-cell">Onay Bekliyor</td>
                                }

                                <td class="d-none d-md-table-cell">
                                    <span class="completion mr-2">@item.Progress%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@item.Progress" aria-valuemin="0" aria-valuemax="100" style="width: @item.Progress%;"></div>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-outline-danger" href="/Admin/Project/DeleteProject/@item.ProjectID" id="DeleteBtn" onclick="return confirm('Silmek istediğinize emin misiniz?');"><i class="ni ni-fat-remove"></i>Sil</a></td>
                                <td><a href="#" class="btn btn-outline-warning btn-sm" data-target="/Admin/Project/ProjectDetailsInModal/@item.ProjectID">Düzenle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Deneme Modal'ı-->

<div class="modal fade" id="modelView" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>*@

            <div class="modal-body">
                <!--Modal içeriği-->
            </div>

        </div>
    </div>
</div>

<!--Deneme Modal'ı-->
